---
---

@import "{{ site.theme }}";

@media screen and (min-width: 1024px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; /* Ustawiamy wyrównanie do góry */
    width: 60%;
    margin: 0 auto;
    padding: 0; /* Upewniamy się, że nie ma paddingu */
    box-sizing: border-box; /* Upewniamy się, że padding i marginesy są uwzględnione */
  }

  .sidebar {
    width: 275px;
    flex-shrink: 0;
    position: relative;
    margin: 0; /* Upewniamy się, że nie ma marginesu */
    padding: 0; /* Upewniamy się, że nie ma paddingu */
  }

  .sidebar-footer {
    width: auto;
    padding-bottom: inherit;
    position: relative;
    align-self: flex-start;
    display: none;
  }

  section {
    flex-grow: 1;
    margin-left: 20px; /* Dodajemy odstęp od sidebaru */
    min-width: 0;
    box-sizing: border-box; /* Upewniamy się, że padding i marginesy są uwzględnione */
  }
}

@media screen and (min-width: 1400px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; /* Ustawiamy wyrównanie do góry */
    max-width: 1000px;
    margin: 0 auto;
    padding: 0; /* Upewniamy się, że nie ma paddingu */
    box-sizing: border-box; /* Upewniamy się, że padding i marginesy są uwzględnione */
  }

  .sidebar {
    width: 300px;
    flex-shrink: 0;
    position: relative;
    margin: 0; /* Upewniamy się, że nie ma marginesu */
    padding: 0; /* Upewniamy się, że nie ma paddingu */
  }

  .sidebar-footer {
    width: auto;
    padding-bottom: inherit;
    position: relative;
    align-self: flex-start;
    display: none;
  }

  section {
    width: 650px;
    flex-grow: 1;
    margin-left: 20px; /* Dodajemy odstęp od sidebaru */
    min-width: 0;
    box-sizing: border-box; /* Upewniamy się, że padding i marginesy są uwzględnione */
  }
}

.sidebar-footer {display: none;}